* {
    list-style: none;
    text-decoration: none;
    font-family: "Oxygen";
    color: #2E2E2E;
}
body{
    margin: 0;
}
.escape{
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    margin-top: 3px;
    margin-bottom: 11px;
    font-family: "Lora";
}
.button{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    color: #FFFFFF;
    opacity: 0.6;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 28px;
    margin-left: 250px;
    margin-right: 250px;
}
.line{
    text-align: right;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    text-transform: uppercase;
}
.main{
    background-image: url(../background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
    width: 100%;
    margin: 0 0;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.heading{
    color: #FFFFFF;
    font-family: "Lora";
    font-size: 50px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 2px;
    margin-top: 103px;
}
.subtitle{
    margin-top: 20px;
    color: #FFFFFF;
    opacity: 0.63;
    text-align: center;
}
.button-main{
    background: #DD783F;
    border: 3px;
    border-radius: 3px;
    margin-top: 31px;
    height: 44px;
    width: 167px;
    text-align: center;
}
.button__text{
    color: #FFFFFF;
    font-family: "Oxygen";
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;

}
.second_list{
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    margin: 10px 10%; 
}
.links{
    width: 960px;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.button-links{
    margin-top: 13px;
    margin-bottom: 13px;
    margin-left: 46px;
    color: #768088;
}
.main_posts{
    background-color: #F7F7F7;
    height: 1255px;
    max-width: 100%;
    padding: 0 auto;
}
.second-part{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-blocks{
    display: flex;
    gap: 20px;
}
.feature-posts{
    text-align: center;
    padding-top: 60px;
    font-weight: 400;
    font-size: 20px;
}
.underline1{
    width: 188px;
    color: #DEDEDE;
}
.first-post{
    background-image: url(../theroadahead.jpg);
    width: 460px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-repeat: no-repeat;
    position: relative;
}
.first-post_heading{
    font-family: "Lora";
    font-size: 27px;
    font-weight: 400;
    height: 30px;
    color: #FFFFFF;
    position: absolute;
    bottom: 93px;
    left: 20px;
}
.first-post_subtitle{
    color: #FFFFFF;
    opacity: 0.7;
    position: absolute;
    bottom: 62px;
    left: 20px;
}
.first-post_footer{
    width: 420px;
    height: 35px;
    bottom: 15px;
    left: 20px;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
}
.autor-name{
    color: #FFFFFF;
    opacity: 0.7;
    position: absolute;
    left: 36px;
}
.image{
    border-radius: 60px;
    width: 26px;
    height: 26px;
}
.data{
    color: #FFFFFF;
    opacity: 0.7;
}
.second-post{
    background-image: url(../fromtopdown.png);
    width: 460px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-repeat: no-repeat;
    position: relative;
}
.button-adventure{
    width: 87px;
    height: 26px;
    background: #DD783F;
    text-align: center;
    border-radius: 2px;
    position: absolute;
    top: 20px;
    left: 20px;
    border: 2px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}
.second-post_heading{
    font-family: "Lora";
    font-size: 27px;
    font-weight: 400;
    height: 30px;
    color: #FFFFFF;
    position: absolute;
    bottom: 93px;
    left: 20px;
}
.second-post_subtitle{
    color: #FFFFFF;
    opacity: 0.7;
    position: absolute;
    bottom: 62px;
    left: 20px;
}
.second-post_footer{
    width: 420px;
    height: 35px;
    bottom: 15px;
    left: 20px;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
}
.writer{
    color: #FFFFFF;
    opacity: 0.7;
    position: absolute;
    left: 36px;
}
.willw{
    border-radius: 60px;
    width: 26px;
    height: 26px;
}
.second-date{
    color: #FFFFFF;
    opacity: 0.7;
}
.most-recent{
    text-align: center;
    padding-top: 60px;
    font-weight: 400;
    font-size: 20px;
}
.underline2{
    width: 188px;
    color: #DEDEDE;
}
.third-part{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flying-post{
    width: 296px;
    height: 291px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #FCFCFC;
}
.balloon-txt{
    position: relative;
    height: 93px;
}
.balloon-heading{
    font-family: "Lora";
    font-size: 16px;
    font-weight: 400;
    color: #101315;
    position: absolute;
    top: 14px;
    left: 13px;
}
.balloon-subtitle{
    font-size: 13px;
    font-weight: 400;
    color: #7A7A7A;
    position: absolute;
    top: 41px;
    left: 13px;
}
.balloon_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 47px;
    width: 100%;
}
.balloon-underline{
    width: 296px;
    height: 1px;
    color: #F7F7F7;
    margin: 0;
}
.balloon-autor{
    position: absolute;
    top: 12px;
    left: 13px;
    bottom: 10px;
    width: 26px;
    height: 26px;
}
.balloon-autor-name{
    color: #999999;
    font-size: 11px;
    font-weight: 400;
    position: absolute;
    top: 7px;
    left: 49px;
}
.balloon-date{
    color: #999999;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    top: 7px;
    right: 13px;
}
.balloons{
    height: 150px;
}